.root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    @media (max-width: 1420px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
    margin-bottom: 1rem;
}

.subtitle {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.null {
    display: inline-block;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.4);
}