:root {

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  background: #efefef;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

main {
  padding: 3rem;
}
