.logo {
    width: 10.4rem;
    height: 2.6rem;
    margin-top: 3rem;
    margin-left: 2.4rem;
    margin-bottom: 2rem;
}


.sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #1d1b29;
    bottom: 0;
    width: auto;
    min-width: 25rem;
    max-width: max-content
}

.menu li {
    padding: 0 2.4rem;
}

.menu {
    padding: 2rem;
}

.content {
    padding: 2rem;
    margin-left: 25rem !important;
    height: 100%;
}

.itemMenu {
    list-style: none;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    transition: all .2s;
    gap: 1rem;
    font-size: 1.6rem;
    &:hover {
        color: #fff;
    }
}