.card {
    display: grid;
    grid-template-rows: auto 1fr;
}

.date {
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    gap: .2rem;
}


.user {
    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}

.content {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto 1fr auto;
}

.statusName {
    color: rgba(0, 0, 0, 0.7);
}